<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>S1L5</title>
</head>
    <body>
        <main>
                {{ mensajeReverso }}


                <h1>Personas </h1>
                <ul>
                    <li  v-for="persona in personas">{{persona.nombre}} <small>Edad: {{persona.edad}} -  Registrado ?: {{persona.registrado}}</small></li>
                </ul>

                <h1>Personas mayores de 18</h1>
                <ul>
                    <li  v-for="persona in personasMayores">{{persona.nombre}} <small>Edad: {{persona.edad}} -  Registrado ?: {{persona.registrado}}</small></li>
                </ul>

                <h1>Personas registradas</h1>
                <ul>
                    <li  v-for="persona in personasRegistrados">{{persona.nombre}} <small>Edad: {{persona.edad}} -  Registrado ?: {{persona.registrado}}</small></li>
                </ul>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>