<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>S1L4</title>
</head>
<body>
    <main>
        <ul><li v-for="mes in meses">{{mes}}</li></ul>
        <form v-on:submit.prevent="agregarMes">
            <input type="text" v-model="mesNuevo"  >
            <button type="submit" >Agregar més</button>
 
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>

</body>
</html>